*{
    padding: 0px; margin: 0px;
    box-sizing: border-box;
}
body{
    background:linear-gradient(#29012f , #0e000f) ;
}
a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    
}

nav{
    width: 100%; height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
nav::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -70px;
    height: 100px; width: 100%;
    background:linear-gradient(#29012f , #0e000f) ;

}
nav img{
     position: absolute;
    width: 100%;
    height: 100vh;
   
    object-fit: cover;
}
nav #moon{
    mix-blend-mode: screen;
   
    transform: translateY(50px);
   
}

nav .muh{
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    transform: translateY(-140px);
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

   padding: 6px 40px;
    position: fixed;
    z-index: 100;
    
}
header h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header ul li{
    list-style: none;

}
header a{
    padding: 5px 10px;
    /* background-color: #840784; */
    border-radius: 15px;
    transition: 0.4s;
    font-size: 20px;
}
header a:hover , .no{
     background-color: #840784;
     color: #000;
}

/* main */
main{
    width: 100%;
    color: #fff;
}
main h3{
    text-align: center;
    margin: 10px auto;
    text-transform: uppercase;
    margin-bottom: 40px;
}
main p{
    margin: 10px 0px 30px 20px;
    text-transform: capitalize;
}
